.contact-form-wrapper {
  @include breakpoint(md) {
    position: absolute;
    bottom: -150px;
    width: 100%;
  }
  @include breakpoint(lg) {
    bottom: -200px;
  }
}
.emergency-cta {
  background-color: $primaryColor;
  color: $white;
  padding: 2rem;
  @include breakpoint(md) {
    padding: 2rem 5rem;
  }
  @include breakpoint(xl) {
    padding: 5rem;
  }
  a,
  h2,
  svg {
    color: $white;
    fill: $white;
    margin-bottom: 0;
    text-decoration: none;
  }
  svg {
    width: 3rem;
    height: 3rem;
  }
}
.emergency-phone {
  display: flex;
  align-items: center;
}
.contact-form {
  background-color: $white;
  padding: 2rem;
  box-shadow: 8px 8px 48px rgba(25, 25, 96, 0.25);
  @include breakpoint(md) {
    padding: 2rem 5rem;
  }
  @include breakpoint(xl) {
    padding: 5rem;
  }
  .contact-form__form-group label {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
  }
  .contact-form__form-group input,
  .contact-form__form-group textarea {
    background-color: $lightGray;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    &:focus {
      outline: 1px solid $primaryColor;
    }
  }
  &__form-group input {
    height: 4rem;
  }
  &__form-group textarea {
    height: 8rem;
  }
  &__btn {
    border: none;
  }
}
.contact {
  .contact-form {
    height: 100%;
  }
}
