<div class="site-cta padding-top-4 padding-bottom-4 bg-gray">
    <div class="container-wide flex flex-column flex-row-m flex-center">
      <div class="w-100 w-10-m">
      </div>
      <div class="site-cta__wrapper w-100 w-80-m">
        <h2 class="no-margin text-white">Contact {{ site.Params.author }}</h2>
        <div class="underline white-underline"></div>
        <p class="text-white">
          We are committed to your comfort! That’s why we offer 24-hour, same-day service for urgent matters. For other inquiries or to speak with an expert regarding routine service, please reach out to our office. 
        </p>
        <div class="flex flex-column flex-row-m">
          {{ partial "business-info" . }}
        </div>
      </div>
      <div class="w-100 w-10-m">
      </div>
    </div>
  </div>