{{ "<!-- Header -->" | safeHTML }}
<a class="skip-link" href="#main-content" tabindex="0">Skip to main content</a>
<a class="skip-link" href="#footer" tabindex="0">Skip to footer</a>
<header class="site-header">
  <div class="mobile-phone bg-blue">
    <a href="tel:{{ .Site.Params.phone }}" class="mobile-phone__link">Call Greiber Heating: {{ .Site.Params.phone }}</a>
  </div>
  <div class="pre-nav wrapper-wide flex">
    <div class="logo-wrapper">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        {{ if site.Params.logo }}
          <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive" width="200" height="100">
        {{ else }}
          <h1>{{ site.Title }}</h1>
        {{ end }}
      </a>
    </div>
    {{ partial "business-info" . }}
    <button class="hamburger hamburger--slider" type="button" aria-label="open mobile menu" aria-expanded="false">
      <h2 class="screen-reader-text">Menu</h2>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>  
  <div class="primary-nav-container">
    <div class="nav primary-nav">
      <div class="wrapper-wide">
        <nav aria-label="primary-navigation">
          {{ with site.Menus.main }}
          <ul class="nav-list">
            {{ range . }}
            {{ if .HasChildren }}
            <li class="nav-list__item nav-list__has-dropdown">
              <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}" aria-haspopup="true" aria-expanded="false"
                title="{{ .Name }}">{{ .Name }}
                {{ partial "svg-icons/chevron-down.svg" . }}
              </a>
                <ul class="nav-list__dropdown">
                  {{ range .Children }}
                  <li class="nav-list__item">
                    <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}"
                title="{{ .Name }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="nav-list__item">
              <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}"
                title="{{ .Name }}">{{ .Name }}</a>
            </li>
          {{ end }}
          {{ end }}
          </ul>
          {{ end }}
        </nav>
      </div>
    </div>
    <nav class="nav mobile-nav" aria-label="Mobile Navigation">
      {{ with .Site.Menus.main }}
      <ul class="nav-list">
        {{ range . }}
        <li class="nav-list__item">
          <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}"
            title="{{ .Name }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <!-- <li class="nav-list-item appointment-list-item">
          <a class="nav-item appointment" href="https://www.carrier.com/residential/en/us/find-a-dealer/schedule-now/?zipcode=53597&dealerId=4739&country=USA&utm_content=dealersite" aria-label="Request an Appointment"
          title="Request an Appointment" target="_blank" rel="noreferrer">Request an Appointment</a>
        </li> -->
        </ul>
      {{ end }}
    </nav>
  </div>
</header>