.cards {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    margin-bottom: 2rem;
    display: grid;
    place-items: center;
  }
  &__svg {
    width: 4rem;
    fill: $accentColor;
    stroke: $accentColor;
  }
  &__col {
    text-align: center;
    padding: 2rem;
    flex: 1 1 300px; /*  No stretching: */
    margin: 1rem 1rem 5rem 1rem;
    p {
      margin: 0 auto;
    }
    ul {
      margin-bottom: 1rem;
    }
  }
}
.family {
  .cards__svg {
    position: relative;
    top: -5px;
  }
}
