.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include breakpoint(md) {
    justify-content: flex-start;
  }
}
.service-summary {
  margin: 0 2rem 4rem 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $lightGray;
  width: 100%;
  @include breakpoint(sm) {
    width: 42%;
  }
  @include breakpoint(md) {
    width: 45%;
  }
  &__link {
    color: $black;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: $black;
    }
    h3 {
      transition: 0.3s ease-out;
    }
    &:hover,
    &:focus {
      h3,
      span {
        color: $accentColor;
      }
      .service-summary__read-more {
        svg {
          fill: $accentColor;
          stroke: $accentColor;
          transform: translateX(5px);
        }
      }
      .service-summary__img {
        opacity: 0.7;
      }
    }
  }
  &__image-wrap {
    margin-bottom: 2rem;
    height: 100%;
  }
  &__img {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    height: 300px;
    min-height: 295px;
    object-fit: cover;
  }
  &__title {
    margin-bottom: 0;
  }
  &__entry-meta {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease-out;
  }
  &__summary {
    transition: 0.3s ease-out;
  }
  &__read-more {
    margin: 1rem 0;
    transition: 0.3s ease-out;
    svg {
      fill: $primaryColor;
      stroke: $primaryColor;
      width: 20px;
      margin-left: 5px;
      transition: 0.3s ease-out;
    }
  }
}
