// Colors
$primaryColor: #2d75d8;
$secondaryColor: #34b6ef;
$accentColor: #ff873c;
$black: #4a4a4a;
$lightGray: #e9e9e9;
$white: #ffffff;

// Overlays
$whiteOverlay: rgba($white, 0.9);
$grayOverlay: rgba($lightGray, 0.9);
$blueOverlay70: rgba($primaryColor, 0.7);
$blueOverlay95: rgba($primaryColor, 0.95);
$redOverlay70: rgba(181, 23, 23, 0.7);
$redOverlay95: rgba(181, 23, 23, 0.95);

// Fonts
$primaryFont: "Poppins", sans-serif;

// Header spacing
$mobileHeader: 120px;
$desktopHeader: 150px;
